<section class="todoapp">

  <header class="header">
    <h1><%= @list.name %></h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="">
  </header>

  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>Ruby</label>
        </div>
      </li>
    </ul>
  </section>

  <footer class="footer" >
  </footer>
</section>
