<section class="todoapp">

  <header class="header">
    <h1>Login</h1>
  <%= form_tag(sessions_path) do %>
  <%= text_field_tag :email, '', class: "new-todo", placeholder: "Login with email" %>
    <!-- <input class="new-todo" placeholder="What needs to be done?" autofocus=""> -->
  <% end %>
  </header>



  <footer class="footer" >
  </footer>
</section>
