<section class="todoapp">

  <header class="header">
    <h1>Login</h1>
  <%= form_tag(sessions_path) do %>
  <%= text_field_tag :email, '', class: "new-todo", placeholder: "Login with email" %>
  <%= text_field_tag :password, '', class: "new-todo", placeholder: "and password" %>
  <%= submit_tag "login" %>
  <% end %>
  </header>
  <h3>Sign up as a new user <a href="/users/new">here!</a></h3>


  <footer class="footer" >
  </footer>
</section>
